In [98]:
# Setup
import pandas as pd

# Generate dataframe.

data = {'Name': ['Joe','Bob', 'Suzy', 'Sam'],
        'Fave Color': ['Black','White','White','Magenta'],
        'Earnings': [100,200,444,382],
        'Rating': [5,3,2,5],
        'Height': [5,7,6,4]
       }
df = pd.DataFrame(data)
df

   Name Fave Color  Earnings  Rating
0   Joe      Black       100       5
1   Bob      White       200       3
2  Suzy      White       444       2
3   Sam    Magenta       382       5

In [103]:
# Group data by name to create multi-level index.
df_colors = df[['Earnings','Rating','Fave Color']].groupby(['Fave Color']).agg({'Earnings': ["mean","sum"],'Rating': "mean"})#.reset_index()

# Print type of dataframe.
print(type(df_colors))

# Show dataframe.
df_colors

<class 'pandas.core.frame.DataFrame'>

           Earnings      Rating
               mean  sum   mean
Fave Color
Black           100  100    5.0
Magenta         382  382    5.0
White           322  644    2.5

In [94]:
# Combine multi-level index into one index.
df_colors.columns = [''.join(col).strip() for col in df_colors.columns.values]
df_colors

<class 'pandas.core.frame.DataFrame'>

In [78]:
# Rename columns.
df_colors.rename(columns={'Earningsmean':'Avg. Earnings','Earningssum':"Total Earnings","Ratingmean":"Avg. Rating"})

            Avg. Earnings  Total Earnings  Avg. Rating
Fave Color
Black                 100             100          5.0
Magenta               382             382          5.0
White                 322             644          2.5

In [93]:
print(type(df_colors))
print([*df_colors])
print(df_colors.index.values)

<class 'pandas.core.frame.DataFrame'>
['Earningsmean', 'Earningssum', 'Ratingmean']
['Black' 'Magenta' 'White']

In [81]:
# If we filter the dataframe for any set of values, the columns revert to their original names.
# Why?

colors = ['Black','Magenta']
df_colors[df_colors.index.isin(colors)].sort_values('Earningssum',ascending=False)

            Earningsmean  Earningssum  Ratingmean
Fave Color
Magenta              382          382         5.0
Black                100          100         5.0

pandas.core.frame.DataFrame