In [35]:
# start here https://denver.craigslist.org/search/ata
# get the name and price, if there is a price
# serialize it to disk using pickle if you have time
import pickle
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [7]:
resp = requests.get("https://denver.craigslist.org/search/ataresp")

In [8]:
resp

In [13]:
soup = BeautifulSoup(resp.content, "html.parser")

In [14]:
soup = BeautifulSoup(resp.content, "html.parser")
rows = soup.find_all("li", {"class": "result-row"})

In [15]:
len(rows)

120

In [21]:
rows[0].find('span', {"class": "result-price"}).get_text()

'$1000'

In [22]:
rows[0].find('a', {"class": "result-title hdrlnk"}).get_text()

'Pedicure Spa Chairs'

In [32]:
def get_item_name_and_price(soup_object):
    try:
        price = soup_object.find('span', {"class": "result-price"}).get_text()
    except AttributeError:
        price = "cantPriceThatone"
    name = soup_object.find('a', {"class": "result-title hdrlnk"}).get_text()
    #return (name, price)
    return {"item_name": name, "item_price": price}

In [33]:
item_prices = []

for r in rows:
    item_prices.append(get_item_name_and_price(r))

In [36]:
df = pd.DataFrame.from_records(item_prices)
df.head()

                                 item_name        item_price
0                      Pedicure Spa Chairs             $1000
1  2011 Toyota Tundra Limited TRD Off Road            $19990
2            2014 Ford F-250 Super Duty XL            $19990
3                      Retro Light Fixture  cantPriceThatone
4                   2014 Ford Explorer XLT            $16590

In [38]:
with open("item_prices.pkl", "wb") as pickle_out:
    pickle.dump(item_prices, pickle_out)

In [39]:
%ls | grep .pkl

item_prices.pkl

In [41]:
import pymongo

from pymongo import MongoClient

client = MongoClient()

In [42]:
# databases
# instead of tables, collections
# insteaad of rows, documents

In [43]:
db = client.craigslist 
# this is a database . does not exist yet

In [45]:
for row in item_prices:
    # this is a collection on the db, will exist after I insert data
    db.listings.insert_one(row)

In [18]:
type(item_prices)

list